/*
 * Syntax highlighting
 */

.highlight {
  margin-left: 0;
  margin-right: 0;
}

.highlight pre {
  overflow-x: scroll;
  white-space: pre;
  word-wrap: normal;
}

/*
 * Sidebar
 */

.profile {
  display: inline-block;
}

.profile img {
  width: 5.5rem;
  height: 5.5rem;
  border-radius: 50%;
}

/*
 * Posts
 */

.post-date {
  font-family: 'Lucida Console', 'Andale Mono', monospace;
}

.posts .post {
  display: flex;
  align-items: baseline;
  margin-bottom: 0.8rem;
}

.posts .post-date {
  flex-shrink: 0;
  margin: 0;
  padding-right: 1rem;
}

.posts .post-title {
  display: inline;

  font-size: 1.5rem;
}

.post-meta, .post-meta a {
  color: #b3b3b3;
  font-size: 0.9rem;
}

.post-meta a {
  text-decoration: underline;
}

/*
 * Pages
 */

.page-title {
  margin-bottom: 1.4rem;
}

/*
 * Footer
 */

footer {
  font-size: 0.9rem;
}
