/*
 * Sidebar
 */

.profile {
  display: inline-block;
}

.profile img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

/*
 * Posts
 */

.post-date {
  font-family: 'Lucida Console', 'Andale Mono', monospace;
}

.posts .post {
  display: flex;
  align-items: baseline;
  margin-bottom: 0.8rem;
}

.posts .post-date {
  flex-shrink: 0;
  margin: 0;
  padding-right: 1rem;
}

.posts .post-title {
  display: inline;

  font-size: 1.5rem;
}

.post-meta, .post-meta a {
  color: #b3b3b3;
  font-size: 0.9rem;
}

.post-meta a {
  text-decoration: underline;
}

/*
 * Footer
 */

footer {
  font-size: 0.9rem;
}
