<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <a class="profile" href="{{ site.baseurl }}">
        <img src="{{ site.image }}" alt="My profile picture" />
      </a>
      <p class="lead">{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">
      {% comment %}
        Generate list of category links.
      {% endcomment %}
      {% assign sorted_categories = site.categories | sort: first %}
      {% for category in sorted_categories %}
      {% capture category_url %}/categories/{{ category | first | downcase | replace:' ','-' }}/{% endcapture %}
      <a class="sidebar-nav-item{% if page.url == category_url %} active{% endif %}" href="{{ category_url }}">{{ category | first }}</a>
      {% endfor %}
      <hr>
      <a class="sidebar-nav-item" href="{{ site.github.repo }}/archive/v{{ site.version }}.zip">Download</a>
      <a class="sidebar-nav-item" href="{{ site.github.repo }}">GitHub project</a>
      <span class="sidebar-nav-item">Currently v{{ site.version }}</span>
    </nav>
  </div>
</div>
